/* Change this background color to whatever your overlay chromakey is set to */
body { background-color: #0f0; }

video.video_underlay {
        z-index: -99;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
}

.Dot.Active {
	opacity: 0;
	animation: DotActive 0.75s infinite steps(6);
	-moz-animation: DotActive 0.75s infinite steps(6);
	-webkit-animation: DotActive 0.75s infinite steps(6);
}
.Dot.Used {
	opacity: 0;
}
@-moz-keyframes DotActive    {  0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes DotActive {  0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } }
@keyframes DotActive         {  0% { opacity: 1; } 50% { opacity: 0; } 100% { opacity: 1; } }

.Scoreboard {
	width: 100%;
	height: 100%;
}

.Scoreboard .EventLogo {
	position: absolute;
	bottom: 25px;
	left: 100px;
	width: 50px;
	height: 75px;
	border: 0px;
}

.Scoreboard .Team {
	position: absolute;
	bottom: 25px;
	width: 250px;
	height: 75px;
}

.Scoreboard .Team1 {
	left: 155px;
}

.Scoreboard .Team2 {
	left: 410px;
}

.Scoreboard .Team .JammerBox {
	background-color: #252425;
	color: white;
	font-family: LiberationSans;
	font-weight: bold;
	position: absolute;
	top: 0px;
	left: 5px;
	width: 240px;
	height: 20px;
}

.Scoreboard .Team .JammerBox .Name {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 220px;
	height: 100%;

	font-size: 15px;
	text-align: center;
	overflow: hidden;
}

.Scoreboard .Team .JammerBox .Lead {
	position: absolute;
	top: 0px;
	left: 220px;
	width: 20px;
	height: 100%;
}

.Scoreboard .Team .MainBox {
	position: absolute;
	top: 20px;
	left: 0px;
	width: 100%;
	height: 40px;

	background-color: #252425;
}

.Scoreboard .Team .MainBox .Color {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 10px;
	height: 40px;

	background-color: #c58cc9;
	box-shadow:
		inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
		inset 0 2px rgba(255,255,255,0.2), /* Top Light Shadow */
		inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
		inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}

.Scoreboard .Team .MainBox .Name {
	position: absolute;
	top: 0px;
	left: 10px;
	width: 200px;
	height: 100%;
	font-family: Roboto;
	font-variant: small-caps;
	font-size: 30px;
	text-align: center;
	color: white;
	box-shadow:
		inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
		inset 0 2px rgba(255,255,255,0.2), /* Top Light Shadow */
		inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
		inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}

.Scoreboard .Team .MainBox .Score {
	position: absolute;
	top: 0px;
	left: 210px;
	width: 40px;
	height: 32px;

	background-color: #c58cc9;

	font-family: Roboto;
	font-variant: small-caps;
	padding-top: 8px;
	font-size: 20px;
	text-align: center;
	vertical-align: middle;
	color: black;
	box-shadow:
		inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
		inset 0 2px rgba(255,255,255,0.2), /* Top Light Shadow */
		inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
		inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}

.Scoreboard .Team .BottomBox {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	height: 15px;
	background-color: #252425;
}

.Scoreboard .Team .BottomBox .Timeouts {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 180px;
	height: 15px;
	box-shadow:
		inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
		inset 0 2px rgba(255,255,255,0.2), /* Top Light Shadow */
		inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
		inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}

.Scoreboard .Team .BottomBox .Timeouts .Dot {
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 3px;
	width: 40px;
	height: 10px;
	background-color: #c58cc9;
	border-radius: 5px;
	float: left;
	box-shadow:
		inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
		inset 0 2px rgba(255,255,255,0.2), /* Top Light Shadow */
		inset 0 -15px 5px rgba(0,0,0,0.3); /* Dark Background */
}

.Scoreboard .Team .BottomBox .OfficialReviews .Dot {
	margin-left: 4px;
	margin-right: 0px;
	margin-top: 3px;
	width: 10px;
	height: 10px;
	background-color: #c58cc9;
	border-radius: 5px;
	float: left;
	box-shadow:
		inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
		inset 0 2px rgba(255,255,255,0.2), /* Top Light Shadow */
		inset 0 -15px 5px rgba(0,0,0,0.3); /* Dark Background */
}
.Scoreboard .Team .BottomBox .OfficialReviews {
	position: absolute;
	top: 0px;
	left: 180px;
	width: 30px;
	height: 15px;
	box-shadow:
		inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
		inset 0 2px rgba(255,255,255,0.2), /* Top Light Shadow */
		inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
		inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}

.Scoreboard .Team .BottomBox .JamScore {
	position: absolute;
	top: 0px;
	left: 210px;
	width: 40px;
	height: 15px;

	background-color: #c58cc9;

	font-family: Roboto;
	font-variant: small-caps;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	color: black;
	box-shadow:
		inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
		inset 0 2px rgba(255,255,255,0.2), /* Top Light Shadow */
		inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
		inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}

.Star {
	margin: 5px 0;
	position: relative;
	display: block;
	color: #f598ee;
	width: 0px;
	height: 0px;
	border-right:  10px solid transparent;
	border-bottom: 7px  solid #f598ee;
	border-left:   10px solid transparent;
	-moz-transform:    rotate(35deg);
	-webkit-transform: rotate(35deg);
	-ms-transform:     rotate(35deg);
	-o-transform:      rotate(35deg);
}
.Star:before {
	border-bottom: 8px solid #f598ee;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -4.5px;
	left: -6.5px;
	display: block;
	content: '';
	-webkit-transform: rotate(-35deg);
	-moz-transform:    rotate(-35deg);
	-ms-transform:     rotate(-35deg);
	-o-transform:      rotate(-35deg);
}
.Star:after {
	position: absolute;
	display: block;
	color: #f598ee;
	top: 0.3px;
	left: -10.5px;
	width: 0px;
	height: 0px;
	border-right: 10px solid transparent;
	border-bottom: 7px solid #f598ee;
	border-left: 10px solid transparent;
	-webkit-transform: rotate(-70deg);
	-moz-transform:    rotate(-70deg);
	-ms-transform:     rotate(-70deg);
	-o-transform:      rotate(-70deg);
	content: '';
}
